<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        const $form2 = $('#createBorrowerForm');

        $form2.on('submit', createBorrowerSubmitHandler);

        function createBorrowerSubmitHandler (e) {
          console.log($form2.serialize());
          e.preventDefault()
          $.ajax({
            url: '/createBorrower',
            type:'GET',
            data: $form2.serialize()
          }).done(response => {
            $("#createBorrowerSuccess").html('<p>'+response+'</p>');
            console.log(response);
          })
        }
      });

    </script>



  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Book Search</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="borrower">Add Borrower</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fine">Manage Fines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loans">Book Loans</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
      <h1 class="title">Add Borrower</h1>
      <p>Add a borrower to the database to issue library card</p>
      <br>

      <form class = "form-inline" id="createBorrowerForm" method="GET" action="/createBorrower">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"  name="name" type="name" id="bname" placeholder="Han Solo" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control"  name="address" type="address"  id="address" placeholder="111 Millenium Way, Endor, TX 75204" required>
        </div>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input class="form-control"  name="ssn" type="text" id="ssn" placeholder="111223333" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="form-control" name="phone" type="phone" id="phone" placeholder="9998887777">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>

      <div id="createBorrowerSuccess"></div>
    </div>
  </body>

</html>
