<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        const $form4 = $('#searchLoanForm');
        const $form5 = $('#checkinForm');
        $form4.on('submit', searchLoanSubmitHandler)

        function searchLoanSubmitHandler (e) {
          e.preventDefault()
          $.ajax({
            url: '/loan',
            type:'GET',
            data: $form4.serialize()
          }).done(response => {
            $("#loanOutput").html(response);
          })
        }

        $('#bookCheckinModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var Isbn = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          modal.find('.modal-title').text('Check in book ' + Isbn);

          $form5.on('submit', function(e){
            console.log('FORM 5 SUBMITTED WITH ISBN: '+Isbn);

            e.preventDefault();

            $.ajax({
              url: "/checkin",
              type: "GET",
              data: "&Isbn=" + Isbn
            }).done(response => {
              $("#checkinInfoDiv").html('<p>'+response.message+'</p>');
            });
          })
        });
      });

    </script>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Book Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="borrower">Add Borrower</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fine">Manage Fines</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/loans">Book Loans</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="loanOutput"></div>
    <div class="main">
      <h1 class="title">Search Loans</h1>
      <p>Search for book loans by ISBN, Borrower Name, Card_id</h3>

      <form class = "form-inline" id="searchLoanForm" method="GET" action="/searchLoan">
        <div class="form-group mx-sm-3 mb-2">
          <!-- <label for="search">Search</label> -->
          <input class="form-control" name="searchLoan" type="text" id="searchLoan" placeholder="Joe Borrower" required/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <br><br>

      <div id="loanOutput"></div>

    </div>
    <!-- CHECK IN MODAL -->
    <div class="modal fade" id="bookCheckinModal" tabindex="-1" role="dialog" aria-labelledby="bookCheckinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookCheckinModalLabel">Book Check In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="checkinForm" method="GET" action="/test">
              <div id="checkinInfoDiv">
                <p>Please confirm.</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
