<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Oswald" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript">
      $(document).ready(function() {

        const $form1 = $('#searchForm');
        const $form2 = $('#createBorrowerForm');

        $form1.on('submit', searchSubmitHandler);
        $form2.on('submit', createBorrowerSubmitHandler);

        function searchSubmitHandler (e) {
          e.preventDefault()
          $.ajax({
            url: '/search',
            type:'GET',
            data: $form1.serialize()
          }).done(response => {
            $("#output").html(response);
          })
        }

        function createBorrowerSubmitHandler (e) {
          console.log($form2.serialize());
          e.preventDefault()
          $.ajax({
            url: '/createBorrower',
            type:'GET',
            data: $form2.serialize()
          }).done(response => {
            // $("#createBorrowerSuccess").html(response);
            console.log(response);
          })
        }
      });


    </script>

  </head>

  <body>
    <div id="main">
      <h1 class="title">Add Borrower</h1>
      <p>Add a borrower to the database to issue library card</p>
      <br>

      <form class = "form-inline" id="createBorrowerForm" method="GET" action="/createBorrower">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"  name="name" type="name" id="bname" placeholder="Han Solo" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control"  name="address" type="address"  id="address" placeholder="111 Millenium Way, Endor, TX 75204" required>
        </div>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input class="form-control"  name="ssn" type="text" id="ssn" placeholder="111223333" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="form-control" name="phone" type="phone" id="phone" placeholder="9998887777">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <div id="createBorrowerSuccess"></div>

      <br><br><br>

      <h1 class="title">Search Books</h1>
      <p>Search for a book in the database by any combination of ISBN, Title, and/or Author(s)</h3>

      <form class = "form-inline" id="searchForm" method="GET" action="/search">
        <div class="form-group mx-sm-3 mb-2">
          <!-- <label for="search">Search</label> -->
          <input class="form-control" name="search" type="text" id="search" placeholder="Douglas Adams"/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <br><br>

      <!-- <input id="user-name" type="text" />
      <input id="user-submit" type="submit" /> -->
      <div id="output"></div>

      <br><br>
    </div>

      <!-- <table id="searchResultTable" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Availability</th>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Authors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> -->



  </body>

</html>
