<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        const $form1 = $('#searchBookForm');
        const $form2 = $('#createBorrowerForm');
        const $form3 = $('#checkoutForm');
        const $form4 = $('#searchLoanForm');
        const $form5 = $('#checkinForm');

        $form1.on('submit', searchBookSubmitHandler);
        $form2.on('submit', createBorrowerSubmitHandler);
        $form4.on('submit', searchLoanSubmitHandler)

        function searchBookSubmitHandler (e) {
          e.preventDefault()
          $.ajax({
            url: '/search',
            type:'GET',
            data: $form1.serialize()
          }).done(response => {
            $("#output").html(response);
          })
        }

        function createBorrowerSubmitHandler (e) {
          console.log($form2.serialize());
          e.preventDefault()
          $.ajax({
            url: '/createBorrower',
            type:'GET',
            data: $form2.serialize()
          }).done(response => {
            $("#createBorrowerSuccess").html('<p>'+response+'</p>');
            console.log(response);
          })
        }

        function searchLoanSubmitHandler (e) {
          e.preventDefault()
          $.ajax({
            url: '/loan',
            type:'GET',
            data: $form4.serialize()
          }).done(response => {
            $("#loanOutput").html(response);
          })
        }

        $('#bookCheckoutModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var Isbn = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          modal.find('.modal-title').text('Check out book ' + Isbn)

          $form3.on('submit', function(e){
            console.log('FORM 3 SUBMITTED WITH ISBN: '+Isbn);
            // let form3data = $form3.serialize()
            // console.log($form3.serialize());
            // console.log(form3data);
            e.preventDefault();

            $.ajax({
              url: "/checkout",
              type: "GET",
              data: $form3.serialize()+"&Isbn=" + Isbn
            }).done(response => {
              $("#checkoutInputForm").hide();
              $("#checkoutInputFormLabel").hide();
              $("#checkoutInfoDiv").html('<p>'+response.message+'</p>');
            });
          })
        });

        $('#bookCheckinModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var Isbn = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          modal.find('.modal-title').text('Check in book ' + Isbn);

          $form5.on('submit', function(e){
            console.log('FORM 5 SUBMITTED WITH ISBN: '+Isbn);

            e.preventDefault();

            $.ajax({
              url: "/checkin",
              type: "GET",
              data: "&Isbn=" + Isbn
            }).done(response => {
              $("#checkinInfoDiv").html('<p>'+response.message+'</p>');
            });
          })
        });

        $('#updateFinesButton').click(function(){
          $.ajax({
            url: "/fines",
            type: "GET"
          }).done(response => {
            $("#updateFinesDiv").html('<p>'+response+'</p>');
          });
        });


      });


    </script>

  </head>

  <body>
    <div id="main">
      <h1 class="title">Fines</h1>
      <p>Push this button to update fines for all book loans.</p>
      <button id="updateFinesButton" type="submit" class="btn btn-primary mb-2">Update Fines</button>
      <div id="updateFinesDiv"></div>

      <br><br><br>
      <h1 class="title">Add Borrower</h1>
      <p>Add a borrower to the database to issue library card</p>
      <br>

      <form class = "form-inline" id="createBorrowerForm" method="GET" action="/createBorrower">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"  name="name" type="name" id="bname" placeholder="Han Solo" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control"  name="address" type="address"  id="address" placeholder="111 Millenium Way, Endor, TX 75204" required>
        </div>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input class="form-control"  name="ssn" type="text" id="ssn" placeholder="111223333" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="form-control" name="phone" type="phone" id="phone" placeholder="9998887777">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>

      <div id="createBorrowerSuccess"></div>

      <br><br><br>

      <h1 class="title">Search Books</h1>
      <p>Search for a book in the database by ISBN, Title, or Author(s)</h3>

      <form class = "form-inline" id="searchBookForm" method="GET" action="/search">
        <div class="form-group mx-sm-3 mb-2">
          <!-- <label for="search">Search</label> -->
          <input class="form-control" name="search" type="text" id="search" placeholder="Douglas Adams" required/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <br><br>

      <div id="output"></div>

      <br><br><br>

      <h1 class="title">Search Loans</h1>
      <p>Search for book loans by ISBN, Borrower Name, Card_id</h3>

      <form class = "form-inline" id="searchLoanForm" method="GET" action="/searchLoan">
        <div class="form-group mx-sm-3 mb-2">
          <!-- <label for="search">Search</label> -->
          <input class="form-control" name="searchLoan" type="text" id="searchLoan" placeholder="Joe Borrower" required/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <br><br>

      <div id="loanOutput"></div>

      <br><br>
    </div>


    <!-- CHECK OUT MODAL -->
    <div class="modal fade" id="bookCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="bookCheckoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookCheckoutModalLabel">Book Checkout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="checkoutForm" method="GET" action="/test">
              <div class="form-group" id="checkoutInfoDiv">
                <label for="Card_id"class="col-form-label" id="checkoutInputFormLabel">Borrower Card ID:</label>
                <input type="number" class="form-control" name="Card_id" id="checkoutInputForm">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Checkout</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- CHECK IN MODAL -->
    <div class="modal fade" id="bookCheckinModal" tabindex="-1" role="dialog" aria-labelledby="bookCheckinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookCheckinModalLabel">Book Check In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="checkinForm" method="GET" action="/test">
              <div id="checkinInfoDiv">
                <p>Please confirm.</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  </body>

</html>
