.title {
  /* color: red; */
  text-align: center;
}

.main {
  text-align: center;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

p.main{
  padding-top: 5px;
}

#searchResultTable {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div#output{
  text-align: left;
}

#createBorrowerForm{
  text-align: left;
  /* width: 70%; */
}

#createBorrowerForm{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#searchBookForm, #searchLoanForm{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#search, #searchLoan{
  width: 375px;
}

p{
  padding-top: 8px;
}
